<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board 리스트 목록</title>
</head>
<body>
<a href="/main">Home</a>
<table border="1">
    <tr>
        <th>boardId</th>
        <th>userName</th>
        <th>boardTitle</th>
        <th>boardViews</th>
        <th>commentCount</th>
        <th>createDate</th>
    </tr>
    <tr th:each = "board: ${boardDTOList}">
        <td th:text = "${board.boardId}"></td>
        <td th:text = "${board.userName}"></td>
        <td>
            <a th:href="@{|/board/${board.boardId}|}" th:text="${board.boardTitle}"></a>
        </td>
        <td th:text = "${board.boardViews}"></td>
        <td th:text = "${board.commentCount}"></td>
        <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
</table>
</body>
</html>