<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/user/update" method="post">
    <input type="hidden" th:value="${updateUser.id}" name="id"><br>
    아이디: <input type="text" th:value="${updateUser.userName}" name="userName" readonly><br>
    비밀번호: <input type="text" th:value="${updateUser.userPw}" name="userPw"> <br>
    이메일: <input type="text" th:value="${updateUser.userEmail}" name="userEmail"><br>
    <input type="submit" value="정보 수정">
</form>
</body>
</html>