<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>
    session 값 확인: <p th:text="${session.loginName}"></p><br><br>

    <a href="/user/update">내 정보 수정</a>

    <a href="/user/delete">회원 탈퇴</a>

    <a href="/user/signout">로그아웃</a>

    <p th:text="${session.loginId}">세션 ID가 여기 표시됩니다.</p>

    <br><br>

    <button onclick="saveReq()">글 작성</button>

    <button onclick="listReq()">글 목록</button>



</body>

<script>
    const saveReq = () =>{
        location.href = "/board/writeForm";
    }

    const listReq = () =>{
        location.href = "/board/";
    }
</script>
</html>