<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board">
    <!-- sql문이 작성되는 공간 -->

    <!-- 게시판 목록 조회 -->
    <select id="getList" resultType="board">  <!-- mybatis-config 파일 -->
        SELECT board_id as boardId,
               user_name as userName,
               board_title as boardTitle,
               board_contents as boardContents,
               board_views as boardViews,
               created_time as createdTime
        FROM board_table
        ORDER BY created_time ASC
    </select>

    <!-- 게시판 작성 (DB 저장)-->
    <insert id="save" parameterType="board">
        INSERT INTO board_table (user_name,
                                 board_title,
                                 board_contents,
                                 board_views,
                                 created_time)
        VALUES (#{userName}, #{boardTitle}, #{boardContents}, #{boardViews}, #{createdTime})
    </insert>
</mapper>